*{
    box-sizing: border-box;
}


#grid {
    display: grid; 
    grid-template-areas:"article article"   
                        "section section";  
}  

section{
    grid-area: section; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    margin: auto; 
    min-width: 500px; 
    
  }
  
  .grid-container > div {
    
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;  
    border: 1px solid rgb(12, 11, 11); 
    
  }
  
  #item1 {
    grid-column: 2 / 3;
  } 

  @media only screen and (min-width: 850px) {

    .grid-container > div {
        padding: 20px 20px;
        font-size: 25px;  
    }


  }