.table {
    display: flex; 
    margin: 2%;
}

.column {
    margin-bottom: 1em;
    width: 100%;    
    flex-grow: 1;
    
    
}

.row {
    
    height: auto; 
    min-height: 30vh;
    margin: auto;
    width: 100%; 
    text-align: center;  
    border: 1px solid black;   
    flex-grow: 1;
    
    
} 

.row p {
    padding: 1% 1%;
} 

#box1 {
    border: white; 
    padding: 1px;
}