

.table {
  display: flex; 
  flex-wrap: wrap;
  
  margin: auto;
  padding: 0; 
  width: 100%;
}
.box {
  box-sizing: border-box;
  flex-grow: 1;
  width: 25%;  
  padding: 2%;
  overflow: hidden; 
  list-style: none;
  border: 1px solid grey;  
  
  
  
}

